@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-primary: #2F80ED;
  --color-primary-dark: #1C3D5A;
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20;
  }
}
